html,
body,
* {
  padding: 0; margin: 0;
}
*{
  box-sizing: border-box;
  text-decoration: none;
}
body{
  overflow: hidden; 
}

#shiny-app{
  height: 100vh;
  display: grid;
  grid-template-columns: auto 1fr;
  grid-template-rows: auto 1fr;
  grid-template-areas:
    "header header" 
    "nav main";
}
.grid-row-auto-1fr{
  display: grid;
  grid-template-rows: auto 1fr;
}
.grid-row-1fr-auto{
  display: grid;
  grid-template-rows:  1fr auto;
}
.grid-header{
  grid-area: header;
}
.grid-nav{
  grid-area: nav;
  padding: 0.5em 0 0 5em;
  width: 225px;
}
.grid-main{
  grid-area: main;
  overflow-y: auto;    
  padding: 0.5em 5em 0.5em 1em;
}
.grid-main > *{
  height: 100%;
}
.flex{
  display: flex;
}
.flex-col{
  display: flex;
  flex-direction: column;
}
.gap-05{
  gap: 0.5em;
}
.gap-1{
  gap: 1em;
}
.gap-15{
  gap: 1.5em;
}
.gap-2{
  gap: 2em;
}
.align-c{
  align-items: center;
}
.align-e{
  align-items: flex-end;
}
.align-s-c{
  align-self:center;
}



.jus-c{
  justify-content: center;
}
.jus-btwn{
  justify-content: space-between;
}
.jus-even{
  justify-content: space-evenly;
}
.fgrow-1{
  flex-grow: 1;
}

.wrap{
  flex-wrap: wrap;
}

.p-05-5{
  padding: 0.5em 5em;
}
.p-05-075{
  padding: 0.5em 0.75em;
}

.p-05{
  padding:0.5em;
}

.p-075{
  padding: 0.75em;
}

.mb-05{
  margin-bottom: 0.5em;
}

.fs-09{
  font-size: 0.9em;
}
.fs-12{
  font-size: 1.2em;
}

.fw-600{
  font-weight: 600;
}

.por{
  position: relative;
}
.poa{
  position: absolute;
}


.w-33p{
  width: 33%;
}
.w-210px{
  width: 210px; 
}
.w-fcontent{
  width: fit-content;
}


.mh-0{
  min-height: 0;
}
.h-100p{
  height: 100%;
}


.ov-hidden{
  overflow: hidden;
}
.ovy-auto{
  overflow-y: auto;
}
.fill-div{
  position: absolute;
  left: 0; top: 0;
  height: 100%; width: 100%;
}



#nav{
  width: 180px;
}
#section{
  width: calc(100% - 180px);
}


.tab-link{
  position: relative;
  padding: 0.5em 0.5em;
  font-weight: 400;
  transition: background-color 0.1s ease;
}
  
.tab-link:hover{
  cursor: pointer;
  background: #ececec;
}

.active-tab{
  font-weight: 600;
}

.tab-link::after {
  content: "";
  position: absolute;
  left:0.5em;
  right: 0.5em;
  bottom: 0;
  height: 2px;
  background-color: #0078d4;
  transform: scaleX(0);
  transform-origin: center;
  transition: transform 0.2s cubic-bezier(0.4, 0, 0.2, 1);
}


.tab-link.active-tab::after {
  transform: scaleX(1);
}

.tab-link.active-tab:hover::after {
  transform: scaleX(1.15);
}



.col1{
  color: #0077b5;
}

.bg-col1{
  background: #fff;
}
.bg-col2{
  background:#e1f0ff; 
}
.bd-col1{
  border: 1px solid #ccc;
}
.bxs-1{
  box-shadow: 0 0 8px #00000033; 
}

#dataset-container{
  border: 1px solid #969696;
  width: fit-content;
}

#dataset-container .dataset-header{
  background: #F1F1F1;
  padding: 0.5em;
}

.dataset-menu{
  border: 1px solid #969696;
  background: #fff;
  width: 180px;
  padding: 0.5em;
  margin-top: 0.5em;
  font-size: 12px;
}

.dataset-link{
  font-size: 12px;
}

.dataset-menu {
  opacity: 0;
  pointer-events: none;

}

.dataset-menu.active {
  opacity: 1;
  pointer-events: auto;
}


.tab-content {
  opacity: 0;
  pointer-events: none;
  position: absolute;  
}

.tab-content.active-tab-content {
  opacity: 1;
  pointer-events: auto;
  position: relative;
}


#downloadMenu {
  opacity: 0;
  transform: translateY(10px);
  pointer-events: none;
  transition: opacity 0.2s ease, transform 0.2s ease;
}

#downloadMenu.open {
  opacity: 1;
  transform: translateY(0);
  pointer-events: auto;
}
